.form_market button {
    background-color: #000;
    border-radius: 1px;
    border: none;
    color: #fff;
    padding: .8rem 3.25rem;
}

.form_market input,
.form_market textarea {
    border-radius: 3px;
    border: 0;
    margin-right: 1rem;
    padding: .8rem 1rem;
    width: 23rem;
    border: 1px solid #aaa;
}

.form_market h6 {
    margin: 10px 0px;
}

.form_market .submit {
    margin: 20px 0px;
}

.networks {
    display: flex;
}

.networks h4 {
    padding: 12px 24px;
    border-radius: 15px;
    margin: 10px 10px 0px 0px;
}

.networks h4.active {
    background-color: rgb(212, 212, 212);
}